<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name> Web Service Demo </display-name>
	<description>This is a web service demo</description>
	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- security-role -->
	<security-role>
		<description>Normal operator user</description>
		<role-name>myeclipseWebservices</role-name>
	</security-role>

	<!-- security-constraint -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Operator Roles Security</web-resource-name>
			<url-pattern>/services/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>myeclipseWebservices</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- basic authentication -->
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

</web-app>
